@charset "utf-8";
/* CSS Document */

/*=========================reset================*/
html,body{height:100%;}
body,h1,h2,h3,h4,h5,h6,p,a,img,ul,li,ol,dl,dt,dd,input{ padding:0; margin:0}
ul,ol{ list-style:none;}
input{ outline:none;}
img{ display:block; border:0;}
html{font-size: 62.5%;}
*{box-sizing: border-box;}
html{font-size: 62.5%;height: 100%}
body{ font-size:12px; color:#333; font-family:"微软雅黑"; background:#fff;height: 100%}
*{box-sizing: border-box;padding: 0;margin: 0}
a{ text-decoration:none; color:#444;}
a:hover{
  text-decoration: none!important;
}
/*========================public================*/
/* .w{ width:1252px; margin:0 auto} */
.l{ float:left;}
.r{ float:right}

@font-face {
  font-family: 'iconfont';
  src: url('../../../static/font/iconfont.eot');
  src: url('../../../static/font/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../../../static/font/iconfont.woff') format('woff'),
  url('../../../static/font/iconfont.ttf') format('truetype'),
  url('../../../static/font/iconfont.svg#iconfont') format('svg');
}
.iconfont{
  font-family:"iconfont" !important;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width:0.2px;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1;
}

